$debug: true;
// $debug: false;

// https://www.colourlovers.com/palette/34448/2_Kool_for_Skool
$background-color-1: #020304;
$background-color-2: #626266;
$background-color-3: #541f14;
$font-color-1: #938172;
$font-color-2: #cc9e61;

$font-yellow-light: #e9c18d;
$font-yellow-dark: #cc9e64;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
