/* --------- */
/* Footer */
/* --------- */
.footer {
  bottom: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 8px !important ;
  color: #fff;
  // font-size: 0.75em;
  font-size: 0.875em;
  text-align: center;
  background-color: rgb(10, 4, 22);

  .footer-copywright {
    text-align: center !important;
  }

  .footer-social {
    margin-top: 16px;
    z-index: 1;
    // text-align: right !important;
  }

  @media (max-width: 767px) {
    .footer-copywright {
      text-align: center !important;
    }

    .footer-body {
      text-align: center !important;
    }
  }

  h3 {
    font-size: 1em;
    color: white !important;
  }

  .footer-icons {
    position: relative;
    top: -12px;
    padding: 0 !important;
    font-size: 1.7142857142857142em;
  }

  .blockquote-footer {
    color: #a588c0 !important;
  }
}
