@use 'mixins';
@use 'variables';

.portfolio-section {
  position: relative !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
  padding-top: 6em;
  // background: lightblue !important;

  @include mixins.respond-to(sm) {
    padding-top: 9em;
  }
  & > .row {
    padding-bottom: 4em;
  }

  h3 {
    margin-bottom: 0 !important;
    height: 60px;
    font-size: 1.25em;
  }

  // tabs
  .nav-item {
    &:first-child {
      // margin-bottom: 2em;
      height: 60px;
    }

    .nav-link {
      padding-top: 0;
      padding-left: 0;
      // display: block;
      // padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
      // font-size: var(--bs-nav-link-font-size);
      // font-weight: var(--bs-nav-link-font-weight);
      // color: var(--bs-nav-link-color) !important;
      // text-decoration: none !important;
      background: 0;
      border: 0;
      // transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
      transition: color 0.15s ease-in-out;

      &.active {
        color: #fff !important;
        cursor: default;
        // text-decoration: underline !important;
      }
    }
  }

  .surrey-place-logo {
    fill: #fff;
  }
}
