$background-color: #cab7b7;
$text-color: green;

body {
  background: $background-color;
  color: $text-color;
  letter-spacing: 1px;
  text-align: center;
}

h1 {
  color: $text-color;
  background: orange;
}
